<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="invitados">
      Invitados:
      <ul id="invitadoslist">
      {% for invitado in lista_de_invitados %}
      <li class="invitadoitem"> {{ invitado }} </li>
      {% endfor %}
    </div>
    <div id="items">
      Items a comprar:
      <ul id="invitadoslist">
      {% for item in items_a_comprar %}
      <li class="invitadoitem"> {{ item }} </li>
      {% endfor %}
    </div>
    <div class='form' >
      Añadir item:
      <form id='add-item' method="post">
          {% csrf_token %}
          {{ form.as_table }}
          <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
