<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link href="{% static "asados/bootstrap/css/bootstrap.css"%}" rel="stylesheet" type="text/css"/>
    <link href="{% static "asados/css/basestyle.css"%}" rel="stylesheet" type="text/css"/>

    {% block additional_statics %}

    {% endblock %}
    <title>{% block title %} Poneme un título {% endblock %}</title>
  </head>
  <body>
    <div class="header">
      <div id="home_container">
        <a href={% url 'home' %} id="home_button"> Home </a>
      </div>
      <div id="header_right">
        {% block header %} Header {% endblock %}
      </div>
    </div>
    <div class="content">
      {% block content %} Content {% endblock %}
    </div>
  </body>
</html>
