{% extends "base.html" %}
  {% block additional_statics %}
    {% load static %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="{% static "asados/bootstrap/js/bootstrap.js"%}"></script>

    <link href="{% static "asados/css/homepage.css"%}" rel="stylesheet" type="text/css"/>
    <link href="{% static "asados/css/asados_table.css"%}" rel="stylesheet" type="text/css"/>

    {{ form.media }}
  {% endblock %}
  {% block title %}
    Lista de asados
  {% endblock %}

  {% block content %}
    {% include 'list-of-asado.html' with asados=lista_de_asados %}
    <div class='form' >
      <p> Agregar un nuevo asado </p>
      <form id='add_asado' method="post">
          {% csrf_token %}
          <table>
          {{ form.as_table }}
          </table>
          <input type="submit" value="Enviar" />
      </form>
    </div>
   {% endblock %}
