{% if asados %}
  <div class="asados_table_container">
    <table class="asados_table">
      <tbody>
        {% for asado in asados %}
          <tr class="{% cycle 'asado_row1' 'asado_row2' %}">
            {% load split_with %}
              {% with fields="organizer,datetime,estimated_cost,place"|split_with:"," %}
              {% for field in fields %}
              <td>
                <a href={% block url %}"{% url 'asado' asado.id %}" {% endblock %}>
                  {% load getfield %}
                  {% getfield asado field as attr %}
                  {{ attr }}
                </a>
              </td>
              {% endfor %}
            {% endwith %}
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
