{% extends "base.html" %}
    {% load static %}
    {% block additional_statics %}
    <link href="{% static "asados/css/basestyle.css"%}" rel="stylesheet" type="text/css"/>
    <link href="{% static "asados/css/asados_table.css"%}" rel="stylesheet" type="text/css"/>
    {% endblock %}
    {% block title %}
      {{ username }}
    {% endblock %}
    {% block header %}
      Lista de asados
    {% endblock %}
    {% block content %}
      {% include "list-of-asado-with-items-link.html" with user=username %}
    {% endblock %}
