.asados_table_container{
  overflow:hidden;
  overflow-y: scroll;
  height: 250px;
}

table.asados_table {
  height:200px;
  margin-left: auto;
  margin-right: auto;
}

.asado_row1 {
  background-color: lightgreen;
}

.asado_row2 {
  background-color: lightgrey;
}
.asados_table tr:hover {
   background: aquamarine;
}

td a {
   color: green;
   display: block;
   padding: 16px;
}

td a:hover{
  color: green;
  text-decoration: none;
}
td a:visited{
  color:green;
  text-decoration: none;
}
td a:active{
  color:green;
  text-decoration: none;
}
