body {
    background-color: lightblue;
    margin-left: 10px;
    margin-right: 10px;
}

.header {
  position:relative;
  height: 50px;
  width: auto;
}

#home_button {
  float:left;
}

span {
  padding: 8px;
  margin: 8px;
}

#userlist {
  max-height: 70%;
  overflow: auto;
}
